body {
    margin: 0;
     /* 1. Делаем красивый светло-серый градиент, который переливается */
    /* Меняем светло-серый на дорогой глубокий графитовый/черный */
    background-color: #121212; 
    display: flex;
    
    font-family: system-ui, -apple-system, sans-serif;
    padding: 0;
    /* «Если контент внутри этого элемента окажется больше, 
    чем сам элемент, обрежь всё, что вылезает наружу, и не показывай полосы прокрутки». */
    overflow: hidden; /*типо чтобы как обычная страница вниз не крутилась у нас же плеер*/
     /* 1. ЖЕСТКО ОГРАНИЧИВАЕМ МАКСИМАЛЬНУЮ ШИРИНУ КОНТЕНТА */
    max-width: 1300px; /* Этим числом регулируй рамку: можно 1100px (уже) или 1300px (шире) */
    
    /* 2. МАГИЯ ЦЕНТРИРОВАНИЯ: делает одинаковые пустые поля справа и слева */
    margin: 0 auto; 
     /* 3. Твои отступы внутри сайта */
    padding: 0px;
}