body {
    margin: 0;
     /* 1. Делаем красивый светло-серый градиент, который переливается */
    background-color: rgb(231, 231, 231);
    
    font-family: system-ui, -apple-system, sans-serif;
    padding: 0;
    /* «Если контент внутри этого элемента окажется больше, 
    чем сам элемент, обрежь всё, что вылезает наружу, и не показывай полосы прокрутки». */
    overflow: hidden; /*типо чтобы как обычная страница вниз не крутилась у нас же плеер*/
}